{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="content">
    {% if user.is_authenticated %}
    
{% endif %}

<h1 class="display-2 text-center"><a href="{% url 'home' %}" class="headline">Главная страница</a></h1>
    {% block header %}
    {% endblock %}
    {% url 'studentlist' as studentlist %}
    {% url 'mathexpressionscreate' as mathexpressionscreate %}


<header class="nav-menu d-flex justify-content-center py-3">
   
    <ul class="nav nav-pills nav-font-size">
    <li class="nav-item"><a href="{% url 'studentlist' %}" 
    {% if request.path|slice:":8" == '/student' %} 
    class="nav-link active"
    {% else %} class="nav-link" {% endif %}>Список учеников</a></li>
    <li class="nav-item"><a href="{% url 'mathexpressionscreate' %}" 
        {% if request.path|slice:":16" == '/mathexpressions' %} 
        class="nav-link active"
        {% else %} class="nav-link" {% endif %}>Проверить мат. выражение</a></li>
    </ul>
    <div class="col-md-3 text-end"> <a href="{% url 'logout' %}" class="btn btn-primary">Выйти</a> </div>
</header>

    {% block content %}
    {% endblock %}
</div>
</body>
<footer>

</footer>
</html>