{% extends './base.html' %}
{% load custom_tags %}
{% block title %}Результаты новичков{% endblock %}
{% block header %}

{% endblock %}

{% block content %}
<h2>Результаты новичков</h2>

<div class="table-responsive">
  <div class="student-create-form-div">
    <form method="post">
  {% csrf_token %} 
  {{form.name.label_tag}}
  {{ form.name }}
  <button class="check-result-btn-add-form" type="submit">Посмотреть <br> результат</button> 
    </form>
  </div>
<table id="students" class="table table-striped table-sm table-form margin-auto">
  <tr class="table-header">
    <th>ФИО</th>
    <th>Выражения</th>
    <th>Вычисления</th>
  </tr>
  <tr> 
  {% for instance in students_exp_list %}
  {% for e in math_expressions_result%}
  {% if instance.id == e.name_id %}
</tr> 
  <tr>
   
      <td> {{ instance.name }}
        <br>
        {{ instance.birthDate }}
        <br>
        {{ instance.admissionYear }}
        <br>
        {{ instance.schoolClassNum }}
        {{ instance.schoolClassName }}
      </td>
      
      <td> Валидно: {{e.validExpression__sum}}
        <br>
        Невалидно: {{e.nonvalidExpression__sum}}
      </td>
      <td>
        Правильно: {{e.validMathResolve__sum}}
        <br>
        Неправильно: {{e.nonvalidMathResolve__sum}}
      </td>
      {% endif %}
  </tr>
  {% endfor %}
  {% endfor %}

</table>



{% endblock %}